body {
	background-color: rgb(240,240,220);
	font-family: "Georgia", serif;
	color: rgb(50,25,25)
}

h1 {
	font-family: "Optima", "Calibri", sans-serif;
	color: rgb(60,30,30);
}

h2 {
	font-family: "Optima", "Calibri", sans-serif;
	color: rgb(58,29,29);
}

h3 {
	font-family: "Optima", "Calibri", sans-serif;
	color: rgb(56,28,28);
}

h4 {
	font-family: "Optima", "Calibri", sans-serif;
	color: rgb(54,27,27);
}

h5 {
	font-family: "Optima", "Calibri", sans-serif;
	color: rgb(52,26,26);
	font-size: 0.85em;
}

h6 {
	font-family: "Optima", "Calibri", sans-serif;
	color: rgb(50,25,25);
	font-size: 0.72em;
}

a {
	text-decoration: none;
	color: rgb(120,60,60);
}

a:link {

}

a:visited {

}

a:focus {
	
}

a:hover {
   border-bottom: 1px solid;
}

a:active {
	
}

hr {
	margin: 0em auto;
}

pre {
	background-color: rgb(60,45,35);
	color: rgb(200,190,170);
	padding: 10px;
}

samp {
	font-size: 120%;
	font-weight: bold;
	background-color: rgb(220,220,200);
}

.contain {
	max-width: 650px; object-fit: contain;
}

.right{
	float:right;
}

.left{
	float:left;
}

.page {
	max-width: 650px;
	margin: 0 auto;
	padding: 0 15px;
	font-family: "Georgia", serif;
	height: 100%;
	background-color: rgb(240,240,220);
	color: rgb(50,25,25);
}

.title {
	margin: 0px;
}

.subtitle {
	margin-top: 5px;
	margin-bottom: 10px;
}

.header h6 {
	margin: 8px;
}

.footer h6 {
	margin: 6px 0px 20px;
}