html {
	scroll-padding: 1.9em;
}

.page {
	max-width: 650px;
	margin: 0 auto;
	padding: 0 15px;
	font-family: "Georgia", serif;
	height: 100%;
	background-color: rgb(245,245,224);
	color: rgb(50,25,25);
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Optima", "Candara", sans-serif;	
}
h1 {
	color: rgb(60,30,30);
}
h2 {
	color: rgb(58,29,29);
}
h3 {
	color: rgb(56,28,28);
}
h4 {
	color: rgb(54,27,27);
}
h5 {
	color: rgb(52,26,26);
	font-size: 0.85em;
}
h6 {
	color: rgb(50,25,25);
	font-size: 0.75em;
}


a {
	text-decoration: none;
	color: rgb(148,74,74);
}
a:hover, a:focus, a:active {
   border-bottom: 1px solid;
}

/* for images that needn't be underlined when they're interacted with */
a.no-hover:hover, a.no-hover:focus, a.no-hover:active {
	border-bottom: none;
}


hr {
	margin: 0em auto;
}


pre {
	background-color: rgb(60,45,35);
	color: rgb(200,190,170);
	padding: 10px;
	white-space: pre-wrap;
}
samp {
	font-size: 120%;
	font-weight: bold;
	background-color: rgb(220,220,200);
}


audio {
	max-width: 650px;
	width: 100%;
	position: relative;
}


figure {
	margin: 36px 0;
}


figcaption {
	color: rgb(52,26,26);
	font-family: "Optima", "Candara", sans-serif;
}


table, th, td {
  border: 1px solid rgb(50,25,25);
  border-collapse: collapse;
}

table {
	margin-top: 24px;
	margin-bottom: 24px;
}

th, td {
	padding: 1px 4px;
}


details {
	margin: 1em 0;
}


.contain {
	width: 100%;
	max-width: 650px;
	object-fit: contain;
	padding-right: 15px;
}

.right{
	float:right;
}
.left{
	float:left;
}


.title {
	margin: 0px;
}
.subtitle {
	margin-top: 5px;
	margin-bottom: 10px;
}


.header-cont{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgb(245,245,224);
	overflow: hidden;
	z-index: 1;
}
.header {
	position: relative;
	height: 1.9em;
	margin: 0px auto;
	max-width: 650px;
	width: 96%;
	border-bottom: 1px solid rgb(50,25,25);
	z-index: 1;
}
.header h6 {
	margin: 8px 0px;
}


.hr {
	height: 0px;
	border-top: 1px solid rgb(50,25,25);
}

.content{
	margin: 2.5em 0;
}


.table-of-contents{
	border-top: 1px solid rgb(50,25,25);
	border-bottom: 1px solid rgb(50,25,25);
}


.postscript{
	border-top: 1px solid rgb(50,25,25);
}


.dateline{
	border-top: 1px solid rgb(50,25,25);
	font-size: 0.8em;
}
.dateline p{
	margin: 0.7em 0;
}

.footer-cont{
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background-color: rgb(245,245,224);
	overflow: hidden;
	z-index: 1;
}
.footer {
	position: relative;
	margin: 0px auto;
	max-width: 650px;
	width: 96%;
	background-color: rgb(245,245,224);
	border-top: 1px solid rgb(50,25,25);
	z-index: 1;
}
.footer h6 {
	margin: 8px 0px;
}